<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Form</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <style>
        a {
            text-decoration: none;
            color: white;
        }

        a:hover {
            color: white;
        }

        .card-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="justify-content-center">
        <div class="col-md-6 offset-md-3">
            <form th:object="${recipe}" th:action="@{/recipe/}" method="post">
                <div th:if="${#fields.hasErrors('*')}">
                    <p>Please Correct Errors Below</p>
                </div>

                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{image}">
                <!--                TODO: ВАЖНО. При обновлении объекта, создается еще один notes. Избегаем этого запоминая id-->
                <input type="hidden" th:field="*{notes.id}">
                <div class="panel-group">
                    <div class="card mb-3">
                        <div class="card-header bg-primary text-light mb-3">
                            <h2 class="card-title"
                                th:with="text=${recipe['new']} ? 'Create New Recipe' : 'Edit Recipe Information'"
                                th:text="${text}">Edit
                                Recipe Information</h2>
                            <div>
                                <th:block th:if="${!recipe['new']}">
                                    <a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/image' }">
                                        <button type="button" class="btn btn-primary">
                                            Upload Image
                                        </button>
                                    </a>
                                </th:block>
                                <a href="#" th:href="@{'/'}">
                                    <button type="button" class="btn btn-primary">
                                        Back
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row" style="margin-top: -1rem">
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('description')} ? 'col-md-3 form-group text-danger' : 'col-md-3 form-group'">
                                    <label><b>Recipe Description:</b></label>
                                    <input type="text" class="form-control" th:field="*{description}"
                                           th:errorclass="is-invalid"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('description')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 0.5rem; margin-bottom: 0.5rem">
                                <div class="col-md-3 form-group">
                                    <label><b>Categories:</b></label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 1
                                        </label>
                                    </div>
                                    <div class="radio" th:remove="all">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 2
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('prepTime')}
                                ? 'col-md-3 form-group text-danger' : 'col-md-3 form-group'">
                                    <label><b>Prep Time:</b></label>
                                    <input type="text" class="form-control" th:field="*{prepTime}"
                                           th:errorclass="is-invalid"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('prepTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('cookTime')}
                                ? 'col-md-3 form-group text-danger' : 'col-md-3 form-group'">
                                    <label><b>Cooktime:</b></label>
                                    <input type="text" class="form-control" th:field="*{cookTime}"
                                           th:errorclass="is-invalid"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('cookTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label><b>Difficulty:</b></label>
                                    <select class="form-control" th:field="*{difficulty}">
                                        <option th:each="difficultyValue : ${T(guru.springframework.domain.Difficulty).values()}"
                                                th:value="${difficultyValue.name()}"
                                                th:text="${difficultyValue.name().substring(0, 1)} + ${difficultyValue.name().substring(1).toLowerCase()}">
                                            val
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('servings')}
                                ? 'col-md-3 form-group text-danger' : 'col-md-3 form-group'">
                                    <label><b>Servings:</b></label>
                                    <input type="text" class="form-control" th:field="*{servings}"
                                           th:errorclass="is-invalid"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('servings')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('servings')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('source')}
                                ? 'col-md-3 form-group text-danger' : 'col-md-3 form-group'">
                                    <label><b>Source:</b></label>
                                    <input type="text" class="form-control" th:field="*{source}"
                                           th:errorclass="is-invalid"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('source')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('source')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('url')}
                                ? 'col-md-3 form-group text-danger' : 'col-md-3 form-group'">
                                    <label><b>URL:</b></label>
                                    <input type="text" class="form-control" th:field="*{url}"
                                           th:errorclass="is-invalid"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('url')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('url')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header bg-primary text-light mb-3">
                            <h2 class="card-title">Ingredients</h2>
                            <th:block th:if="${!recipe['new']}">
                                <a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}">
                                    <button type="button" class="btn btn-primary">
                                        Open
                                    </button>
                                </a>
                            </th:block>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul>
                                        <li th:remove="all">1 Cup of milk</li>
                                        <li th:remove="all">1 Teaspoon of chocolate</li>
                                        <li th:each="ingredient : ${recipe.ingredients}"
                                            th:text="${(ingredient.getAmount() +
                                            ' ' + ingredient.uom.getDescription() +
                                            ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header bg-primary text-light mb-3"
                             th:class="${#fields.hasErrors('directions')} ?
                             'card-header bg-primary text-light mb-3 text-danger' : 'card-header bg-primary text-light mb-3'">
                            <h2 class="card-title">Directions</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{directions}"
                                              th:errorclass="is-invalid"></textarea>
                                </div>
                            </div>
                        </div>
                        <span class="help-block" th:if="${#fields.hasErrors('source')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('source')}" th:text="${err}"/>
                            </ul>
                        </span>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header bg-primary text-light mb-3">
                            <h2 class="card-title">Notes</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{notes.recipeNotes}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"
                            style="margin-bottom: 3rem"
                            th:text="Submit">Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>